/* .container {
max-width: 1170px;
    margin: 0 auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
} */

body {
    /* font-size: 20; */
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    /* color: white; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar.navbar-default.navbar-fixed-top {
    border: 0;
    background-color: #2c3e50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77;
    border-color: #148f77;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 18px;
    margin-left: 3px;
}

main {
    padding-top: 50px;
}

section {
    padding: 50px 0;
    color: #2c3e50;
}

section.opposite {
    background-color: #1abc9c;
    color: white;
}

.avatar {
    max-width: 240px;
}

.intro-title {
    font-size: 44px;
}

.intro-text {
    font-size: 20px;
}

.separator {
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.separator .fa-star {
    vertical-align: middle;
    margin: 0 10px;
}

section.opposite .separator::before,
section.opposite .separator::after {
    background-color: white;
}

/* inizio portfolio */

#portfolio img {
    margin-bottom: 30px;
    max-width: 400px;
    width: 100%;
}

.portfolio-title {
    font-size: 48px;
}

.icone-hover {
    position: relative;
}

.portfolio-item {
    display: block;
    width: 100%;
    height: auto;
    max-width: 240px;
    border-radius: 8px;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3DB197;
    border-radius: 8px;
}

.icone-hover:hover .overlay {
    opacity: 0.9;
    display: block;
}

.fa-plus {
    color: white;
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-text {
    padding-top: 70px;
    padding-bottom: 70px;
    font-weight: 100px;
    font-size: 20px;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-outline-light {
    border: 2px solid white;
    padding: 20px 15px;
    background-color: #1BBB9C;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/* contact */

.form-control {
    margin-bottom: 10px;
    border: 0;
    border-radius: none;
    border-bottom: 1px solid #E9ECEF;
    box-shadow: none;
}

.form-control-2 {
    margin-bottom: 30px;
    border: 0;
    border-radius: none;
    border-bottom: 1px solid #E9ECEF;
    box-shadow: none;
}

.btn-outline-light.send {
    border: 2px solid #1BBB9C;
    padding: 20px 15px;
    background-color: #1BBB9C;
    float: left;
}

.btn-outline-light.send:hover {
    color: white;
    background-color: #139A7F;
    border-color: #139A7F;
}

/* footer */

.footer {
    background-color: #2C3E50;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #FFFFFF;
}

.address {
    font-size: 16px;
}

.icone-social{
    list-style: none;
    margin: 0px;
    padding: 10px;
}

.icone-social li{
    display: inline-block;
    list-style: none;
}

.icone-social li a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    border: 2px solid white;
    line-height: 45px;
    min-height: 50px;
    min-width: 50px;
    margin: 3px;
    border-radius: 50%;
    font-size: 20px;
}

.icone-social li a:hover{
    color: #212529;
    border-color: #f8f9fa;
    background-color: white;
}

.footer .link-bootstrap{
    color: #1abc9c;
}

.footer .link-bootstrap:hover{
    color: #117964;
    cursor: pointer;
}

/* copyright */

.copyright{
    background-color: #1a252f;
    padding: 24px;
}

.copyright .text-copy{
    color: white;
    font-size: 12px;
    margin: auto;
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 22px;
    }

    section {
        padding: 100px 0;
    }

    .intro-title {
        font-size: 64px;
    }

    .intro-text {
        font-size: 24px;
    }

    .portfolio-item {
        max-width: 330px;
        box-sizing: border-box;
        border-radius: 8px;
    }

}
